#create workflow to create ec2 instance in aws using github actions
name: Create EC2 Instance in AWS  
on:
  push:
    branches:
        - main      
jobs:
  create-ec2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.13.5

      - name: Initialize Terraform
        run: terraform init
          
      - name: Apply Terraform
        run: terraform apply -auto-approve
            
      - name: Create EC2 Instance
        run: |
          aws ec2 run-instances \
            --image-id ami-0ecb62995f68bb549 \  # Example AMI ID, replace with your desired AMI
            --count 1 \
            --instance-type t3.micro \
            --key-name ashwini-key \  # Replace with your key pair name



