# create workflow to create aws resources using terraform
name: demo-workflow
on:
  push:
    branches:
      - main
permissions:
  contents: read
  id-token: write
jobs:
  demo-job:
    runs-on: ubuntu-latest
    environment: AWS
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: setup aws credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.13.5
      - name: Initialize Terraform
        run: terraform init
      - name: Apply Terraform configuration
        run: terraform apply -auto-approve



